{% extends 'tienda/layout.html' %}
{% load static %}

{% block content %}
<!--Contenido-->
<br>
<main>
	<!--Acerca de - contenido -->
	<div class="container">
		<div class="row contenedor">
			<div class="col">
				<div class="col-12 text-center">
		        <br>
		        <samp>
		             <h3>ACERCA DE</h3>
		        </samp>
   				 </div> 
				<div class="row projects justify-content-center">
					<div class="col-12 col-lg-9 col-md-9">
						<h5 class="title-project">JAGUARETE KAA.S.A</h5>
						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
							sollicitudin.
							Cras
							purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
							nisi
							vulputate fringilla. Donec lacinia congue felis in faucibus.
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
							sollicitudin.
							Cras
							purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
							nisi
							vulputate fringilla. Donec lacinia congue felis in faucibus.

						</p>

						<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
							sollicitudin.
							Cras
							purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
							nisi
							vulputate fringilla. Donec lacinia congue felis in faucibus.
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
							sollicitudin.
							Cras
							purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
							nisi
							vulputate fringilla. Donec lacinia congue felis in faucibus.

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<hr>
<br>
<br>
{% endblock %}
