{% extends "tienda/layout.html" %}

{% block content %}
<br>
    <h3>Productos</h3>

    {% if categoria_seleccionada %}
        <div class="alert alert-info" role="alert">{{ categoria_seleccionada }}</div>
    {% else %}
        <div class="alert alert-info" role="alert">Ultimos productos ingresados...</div>
    {% endif %}
 <hr>
    <div class="container">
        <div class="row">
            <div class="row">
                
                {% for un_producto in productos_ppales %}
                  <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                        <div>
                            <img class="img-thumbnail" src="{{ media_url }}{{ un_producto.imagen.url }}" alt="{{ un_producto.imagen.name }}"
                                 alt="Another alt text">                            
                        </div>
                        <div>  
                            <!-- <a href="{% url 'sitio:producto_editar' un_producto.id %}" class="btn btn-primary btn-lg btn-block btn-sm" type="button">Ver</a>---> 

                             <a href="{% url 'sitio:producto' un_producto.id %}" class="btn btn-primary btn-lg btn-block btn-sm" type="button">Ver</a>       
                        </div>         
                  </div>
                {% empty %}
                    <li>
                        No hay productos en ésta Sección.
                    </li>
                {% endfor %}              

            </div>
        </div>
    </div>

    <div class="col-12 text-center">
        <br>
        <samp>
             <h3>MAS PRODUCTOS</h3>
        </samp>
    </div> 

<hr>
    <ul>
        
        {% for un_producto in productos_sdarios %}
            <li>Título:              
                <a href="{% url 'sitio:producto' un_producto.id %}">{{un_producto.titulo}}</a> /               
                --- Descripción: {{un_producto.descripcion}}

            </li>
            <hr>
        {% empty %}
            <li>
                No hay productos en ésta Sección.
            </li>
        {% endfor %}
    </ul>
<br>
{% endblock %}